/*   http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

h1 {
  //background-color: white;
}

body {
  //background-color: white;
/*   margin: 0;
  padding: 0;
  border: 0; */
}

/* header {
  justify-content: center;

} */

ul {
    width: 100%;
    font-family: 'Lato', serif;
    background-color: rgb(58, 58, 60);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
    font-family: 'Oswald', serif;
    list-style-type: none;
    align: center;
    //float: left;
    //display: block;
    padding: 8px;
    color: rgb(129, 130, 133);
}

.nav-menu {
  //font-family: 'Oswald', serif;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

#logo-bg {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/header_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

#logo-icon {
  box-sizing: border-box;
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 45px;
  color: rgb(183, 67, 38);
  border: solid coral;
  border-style: 20px;
}

#content-container {
  flex-flow: row wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/bg.jpg");
}

.article-container {
  background-color: rgb(255, 255, 255);
  border-style: solid yellow;
  border-width: 20px;
  font-family: 'Lato', serif;
}
.headline {
  font-weight: bold;
}
.author {
  font-size: 30;
}

.image-card {
  background-position: center center;
  weight: 400px;
  height: 280px;
}

.image {

}

#foot {
  background-image: url("assets/facebook_grey.svg");
  background-image: url("assets/instagram_grey.svg");
}