/*   http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

@media screen and (max-width: 600px) {
  body {
    background-color: lightgreen; } }

@media screen and (min-width: 601px) {
  body {
    background-color: red; } }

@media screen and (min-width: 1200px) {
  body {
    background-color: white; } }

ul {
  width: 100%;
  font-family: 'Lato', serif;
  background-color: #3a3a3c;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center; }

li {
  display: inline-block;
  font-family: 'Oswald', serif;
  list-style-type: none;
  align: center;
  padding: 8px;
  color: #818285;
  font-size: 25px; }

.anchor {
  text-decoration: none;
  color: #818285; }

.anchor:hover {
  color: #f1592a; }

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%; }

#logo-bg {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/header_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%; }

#logo-icon {
  position: absolute;
  margin-left: 900px;
  color: #f1592a;
  background-color: white;
  font-size: 40px;
  border-color: #f1592a; }

#logo-icon:hover {
  color: white;
  background-color: #f1592a;
  border-color: #f1592a;
  font-size: 40px; }

#content-container {
  flex-flow: row wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/bg.jpg");
  width: 100%; }

.article-container {
  margin: 1rem;
  box-sizing: border-box;
  background-size: "cover";
  background-color: white;
  font-family: 'Lato', serif;
  height: 500px;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 33%;
  justify-content: center;
  font-size: 1rem;
  color: #8f9194; }

.article-container:hover {
  border-color: #f7941e;
  border-style: solid;
  border-width: 5px; }

.headline {
  font-size: 2rem;
  font-weight: bold;
  color: #b94326; }

.author {
  font-size: 1rem;
  position: relative; }

.image-card {
  padding: 2.5rem;
  height: 200px;
  width: 350px;
  border-width: 100px;
  margin: 10px;
  background-position: center;
  display: flex;
  flex-wrap: row nowrap; }

.time-ago {
  background-color: red; }

footer {
  background-color: #3a3a3c;
  height: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: auto; }

#insta {
  background-color: #3a3a3c;
  height: 2rem;
  width: 100%;
  background-image: url("assets/instagram_grey.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

#facebook {
  background-color: #3a3a3c;
  height: 2rem;
  width: 100%;
  background-image: url("assets/facebook_grey.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

#insta:hover {
  background-color: #3a3a3c;
  height: 2rem;
  background-image: url("assets/instagram_orange.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
